@model IEnumerable<Livraria.Models.Autores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremioNobel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumoObra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremioNobel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumoObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDAutor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDAutor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDAutor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
