@model Impact_Price.Models.TbTipoServico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbTipoServico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastupdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastupdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
