@model IEnumerable<Livraria.Models.EncomendaLivros>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Encomenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Encomenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDEncomendaLivro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDEncomendaLivro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDEncomendaLivro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
