@model IEnumerable<Livraria.Models.Livros>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDLivro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDLivro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDLivro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
